.footer {
  background-color:  #0067A3;
  color: white;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6px 0 49px;
}

.footer__tasksMonitor {
  display: flex;
  justify-content: space-between;
}

.footer__p {
  padding: 17px 18px;
}