.input {
  display: inline-block;
  padding: 7px 8px;
  border-radius: 5px;
  background-color: white;
  width: 100%;
}

.input__element {
  font-size: 18px;
  line-height: 21px;
  font-family: "Roboto";  
}

.input__area {
  height: 21px;
  resize: none;  
  border: none;
  outline: none;  
  overflow: hidden;  
  display: block;
  width: 100%;
}

.input__area:disabled {
  background-color: #fff;
}

.input__comparator {
  min-height: 21px;
  position: absolute;
  visibility: hidden; 
}

.input__dropdown {
  outline: none;
  padding-left: 10px;
}

.input__dropdownItem {
  color: #5E6C84;
  list-style-type: none;  
  margin-top: 3px;
  line-height: 110%;
}

.input__dropdownItem:hover {
  cursor: pointer;
  color: black;
  font-weight: 700;
}